<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isNew ? 'Nueva tarea' : 'Editar tarea' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="save()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="title" name="title" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="description" name="description"></ion-textarea>
    </ion-item>

    <ion-item lines="none" class="ion-margin-top">
      <ion-label>Foto</ion-label>
      <ion-button (click)="takePhoto()" type="button">Tomar foto</ion-button>
    </ion-item>

    <div *ngIf="photoUrl" class="preview">
      <img [src]="photoUrl" />
    </div>

    <ion-item lines="none" class="ion-margin-top">
      <ion-label>Ubicación</ion-label>
      <ion-button (click)="setLocation()" type="button">
        Usar ubicación actual
      </ion-button>
    </ion-item>

    <ion-text *ngIf="latitude != null && longitude != null">
      <p>📍 {{ latitude | number:'1.4-4' }}, {{ longitude | number:'1.4-4' }}</p>
    </ion-text>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="saving">
      {{ saving ? 'Guardando...' : 'Guardar' }}
    </ion-button>
  </form>
</ion-content>
