<ion-header>
  <ion-toolbar color="primary">
    <ion-title>TaskTrack Pro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      App de gestión de tareas con autenticación, cámara y geolocalización.
      <ion-button expand="block" class="ion-margin-top" (click)="goLogin()">
        Ir a Login
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
